*{
	margin:0px;
	padding:0px;	
}
a{
	text-decoration:none;
}
ul{
	list-style-type:none;
}
body{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	background:rgb(246, 246, 182);
}
#wedsite
{
	width:1040px;
	margin:auto;
	background-color:#fff;
	height:1700px;	
}
#top{
	margin:auto;
	width:1000px;
	height:36px;
	background:#CF0;
}

#top-left{
	float:left;
	padding:10px 0px 0px 19px;
}
#top-left ul{
	padding:0px 0px 0px 19px;
}

#top-left ul li{
	float:left;
	margin-right:8px;
}
#top-right{
	float:right;
}

#top-right ul{
	padding:10px 19px 0px 0px;
}
#top-right ul li{
	float:left;
	margin-left:8px;
	color:rgb(25, 26, 25);
}

#top-right ul li a{
	color:rgb(26, 27, 26);
}

#top-right ul li a:hover{
	color:#F00;
}

#logo{
	background: rgb(35, 226, 76);
	width:1000px;
	margin:auto;
	height:156px;
}
#sdt
{
	width:170px;
	height:31px;
	float:left;
	margin-top:27px;
	margin-right:20px;
	background:url(hinhanh/icons8-iphone-24.png) no-repeat;
	padding-left:27px;
	line-height:31px;
	color:rgb(58, 57, 57);
}

#search
{
	width:214px;
	height:31px;
	float:left;
	margin-top:27px;
	position:relative;
	background:#CCC;
}

#textsearch
{   height:31px;
	width:160px;
	border:0;
	background:#CCC;

}
#search-button
{
	height:31px;
	width:34px;
	position:absolute;z-index:99;top:0px;right: 0px;
	border:0;
	background:url(hinhanh/icons8-search-24.png) no-repeat;
	cursor:pointer;
}
#menu{
	height:44px;
	width:1000px;
	background:#FC6;
	margin:15px auto;

}
#menu ul li{
	float:left;
	border-right:1px dotted #000000;
	height:42px;
	position:relative;
}

#menu ul li a{
	padding: 0 28px 0 28px;
	color:#99;
	background:#FC6;
	font-weight:bold;
	line-height:42px;
	display:inline-block;
}
#menu img{
	float:left;
	padding:5px 10px 5px 5px;
}
#menu ul li a:hover{
	color:#FFF;
	background:#F00;
}
#submenu{
	display:none;
	position:absolute;
	z-index:100;
	background:#C93;
}

#submenu li{
	border-right:1px solid #666;
	border-bottom:1px dashed #333333;
	text-align: center;
}
#submenu li a{
	width:108px;
}

#menu ul li:hover #submenu{
	display:block;
}
#slide{
	Width:1000px;
	height:280px;
	margin:10px auto;	
}
#header{
	width:1000px;
	height:auto;
	margin: 10px auto;

}

.content{
	width: 60%;
	height: 100%;
	float: left;
}

#logo1{
	width:100%;
	height: 170px;
	margin: 10px 0 ;
	padding:10px 10px;

}
#thuvien
{
	padding:20px 0px 1px 10px;
}
#thuvien ul li{
	width:180px;
	height:140px;
	float:left;
	margin:20px 10px 20px 0;
}
#thuvien1 ul li{
	width:180px;
	height:130px;
	float:left;
	margin:20px 10px 20px 0;
}

.anh1{
	width:155px;
	height: 105px;
	margin:auto;
	margin-top: 10px;
}

.title{
	text-align:center;
	color:#F09;
}
#thuvien ul li:hover{
	background: #CFa;
	box-shadow:0 0 5px #0C0;
}
#thuvien1
{
	padding:20px 0px 1px 10px;
}
#thuvien1 ul li:hover{
	background:#CCC;
	box-shadow:0 0 5px #CCC;
}
.sidebar{
	width: 40%;
	height: 100%;
	float: left;
}
.sidebar #Tintuc ul li{
	border-bottom: 1px dotted #333333; 
	padding: 15px 0;

}

#footer{
	width: 100%;
	margin: auto;
	height: 150px;
	background: rgb(246, 246, 182);
	clear: both;
}
.fLeft{
	font-size: 17px;
	text-align: center;
	padding-top:100px;
	background: rgb(246, 246, 182);
}